<div class="authentication-wrapper authentication-3">
  <div class="authentication-inner">

    <!-- Side container -->
    <!-- Do not display the container on extra small, small and medium screens -->
    <div class="d-none d-lg-flex col-lg-8 align-items-center ui-bg-cover ui-bg-overlay-container p-5"
         style="background-image: url('../../../../assets/img/bg/register-bg.jpg');">
      <div class="ui-bg-overlay bg-dark opacity-50"></div>

      <!-- Text -->
      <div class="w-100 text-white px-5">
        <h1 class="display-2 font-weight-bolder mb-4">JOIN OUR<br>COMMUNITY</h1>
        <div class="text-large font-weight-light">
          Here you can join the network of trading professionals, follow other member's financial portfolios, get
          trading ideas and share your portfolio with others members.
        </div>
      </div>
      <!-- /.Text -->
    </div>
    <!-- / Side container -->

    <!-- Form container -->
    <div class="theme-bg-white d-flex col-lg-4 align-items-center p-5">
      <!-- Inner container -->
      <!-- Have to add `.d-flex` to control width via `.col-*` classes -->
      <div class="d-flex col-sm-7 col-md-5 col-lg-12 px-0 px-xl-4 mx-auto">
        <div class="w-100">

          <!-- Logo -->
          <div class="d-flex justify-content-center align-items-center">
            <div class="ui-w-60">
              <div class="w-100 position-relative" style="padding-bottom: 54%">
                <svg class="w-100 h-100 position-absolute" viewBox="0 0 148 80" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                  <defs>
                    <linearGradient gradientUnits="userSpaceOnUse" id="a" x1="46.49" x2="62.46" y1="53.39" y2="48.2">
                      <stop offset="0" stop-opacity=".25"></stop>
                      <stop offset=".3" stop-opacity=".1"></stop>
                      <stop offset=".9" stop-opacity="0"></stop>
                    </linearGradient>
                    <linearGradient id="e" x1="76.9" x2="92.64" xlink:href="#a" y1="26.38" y2="31.49"></linearGradient>
                    <linearGradient id="d" x1="107.12" x2="122.74" xlink:href="#a" y1="53.41"
                                    y2="48.33"></linearGradient>
                  </defs>
                  <path class="fill-primary"
                        d="M121.36,0,104.42,45.08,88.71,3.28A5.09,5.09,0,0,0,83.93,0H64.27A5.09,5.09,0,0,0,59.5,3.28L43.79,45.08,26.85,0H.1L29.43,76.74A5.09,5.09,0,0,0,34.19,80H53.39a5.09,5.09,0,0,0,4.77-3.26L74.1,35l16,41.74A5.09,5.09,0,0,0,94.82,80h18.95a5.09,5.09,0,0,0,4.76-3.24L148.1,0Z"
                        transform="translate(-.1)"></path>
                  <path d="M52.19,22.73l-8.4,22.35L56.51,78.94a5,5,0,0,0,1.64-2.19l7.34-19.2Z"
                        fill="url(#a)" transform="translate(-.1)"></path>
                  <path d="M95.73,22l-7-18.69a5,5,0,0,0-1.64-2.21L74.1,35l8.33,21.79Z" fill="url(#e)"
                        transform="translate(-.1)"></path>
                  <path d="M112.73,23l-8.31,22.12,12.66,33.7a5,5,0,0,0,1.45-2l7.3-18.93Z" fill="url(#d)"
                        transform="translate(-.1)"></path>
                </svg>
              </div>
            </div>
          </div>
          <!-- / Logo -->

          <h3 class="text-center text-lighter font-weight-normal mt-5 mb-0">Create an Account</h3>
          <p class="text-center font-weight-light text-secondary mt-2">It's free and only takes a minute</p>
          <!-- Form -->
          <form #f="ngForm" (ngSubmit)="f.form.valid && register()" class="my-5" name="form-signup" novalidate>
            <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
              {{errorMessage}}
            </div>

            <!--First name-->
            <div class="form-row">
              <div class="form-group col-md-6">
                <label class="form-label">First name</label>
                <input #firstName="ngModel" [(ngModel)]="user.firstName" class="form-control" minlength="2"
                       name="firstName" type="text">
                <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">
                  First name is required
                </div>
              </div>

              <!--Last name-->
              <div class="form-group col-md-6">
                <label class="form-label">Last name</label>
                <input #lastName="ngModel" [(ngModel)]="user.lastName" class="form-control" minlength="2"
                       name="lastName" type="text">
                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
                  Last name is required
                </div>
              </div>
            </div>

            <!--Email-->
            <div [ngClass]="{'has-error':f.submitted &&!email.valid}" class="form-group">
              <label class="form-label">Your email</label>
              <input #email="ngModel" [(ngModel)]="user.email" class="form-control" emailValidator name="email" required
                     type="text" uniqueEmailValidator>
              <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                <span *ngIf="email.hasError('emailValidator')"> Email format is invalid</span>
                <span *ngIf="email.hasError('uniqueEmailValidator')"> This email is already in use</span>
              </div>
            </div>

            <!--Username-->
            <div [ngClass]="{'has-error':f.submitted &&!username.valid}" class="form-group">
              <label class="form-label">Username</label>
              <input #username="ngModel" [(ngModel)]="user.email" class="form-control" name="email" required type="text"
                     usernameValidator>
              <div *ngIf="email.invalid && (username.dirty || username.touched)" class="alert alert-danger">
                <span *ngIf="username.errors.minlength"> Username format is invalid</span>
                <span *ngIf="username.hasError('usernameValidator')"> This username is already in use</span>
              </div>
            </div>

            <!--Password-->
            <div [ngClass]="{'has-error':f.submitted &&!password.valid}" class="form-group">
              <label class="form-label">Password</label>
              <input #password="ngModel" [(ngModel)]="user.password" autocomplete="off"
                     class="form-control bg-gray-200 border-gray-200" minlength='6'
                     name="inputPassword" placeholder="Enter your password" type="password">
              <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                Password minimum length is 6 characters.
              </div>
            </div>

            <!--Confirm Password-->
            <div [ngClass]="{'has-error':f.submitted &&!confirmPassword.valid}" class="form-group">
              <label class="form-label">Confirm Password</label>
              <input #confirmPassword="ngModel" [(ngModel)]="confPassword"
                     class="form-control bg-gray-200 border-gray-200"
                     name="InputPassword" placeholder="Confirm your password"
                     type="password" validateEqual="inputPassword">
              <div *ngIf="confirmPassword.invalid && !confirmPassword.pristine" class="alert alert-danger">
                Passwords must match
              </div>
              <div *ngIf="confirmPassword.valid && !confirmPassword.pristine" class="alert alert-success">
                Passwords match
              </div>


            </div>


            <button (click)="register()" [disabled]="!f.valid" class="btn btn-primary btn-block mt-4" type="button">Sign
              Up
            </button>
            <div class="text-light small mt-4">
              By clicking "Sign Up", you agree to our
              <a href="/help/terms-and-conditions">terms of service and privacy policy</a>. We’ll occasionally send you
              account
              related emails.
            </div>
          </form>
          <!-- / Form -->

          <div class="text-center text-muted">
            Already have an account? <a href="login">Sign In</a>
          </div>

        </div>
      </div>
    </div>
    <!-- / Form container -->

  </div>
</div>
