<nav class="   pace-done landing-navbar navbar navbar-expand-lg navbar-light fixed-top pt-lg-4" id="navbar1">
  <div class="container-fluid px-3" id="container1">

    <a class="navbar-brand w-lg-100 text-large font-weight-bolder line-height-1 py-3 mr-0" href="#">Finmates</a>

    <button class="navbar-toggler" data-target=".header-13" data-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="header-13 navbar-collapse collapse flex-shrink-0">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home</a>
        <a class="nav-item nav-link" href="#">Features</a>
        <a class="nav-item nav-link" href="#">Pricing</a>
        <a class="nav-item nav-link" href="#">About&nbsp;Us</a>
      </div>
    </div>


    <div class="navbar-nav align-items-lg-center mx-5 mr-auto">
      <form class="form-inline py-3 py-lg-0 mr-lg-3">
        <div class="input-group w-100">
          <div class="input-group-prepend">
            <div class="input-group-text ion ion-ios-search"></div>
          </div>
          <input class="form-control" placeholder="Symbol or @Username" size="30" type="text">
        </div>
      </form>

    </div>


    <div class="header-13 navbar-collapse collapse justify-content-lg-end w-lg-100">
      <div class="nav navbar-nav align-items-lg-center">
        <a class="nav-item nav-link" href="/login">
          Sign In
        </a>
        <a class="btn btn-primary rounded-pill px-3 ml-lg-4" href="/register">Join Us</a>
      </div>
    </div>

  </div>
</nav>


<!--

&lt;!&ndash; Navbar &ndash;&gt;
<nav class="landing-navbar navbar navbar-expand-lg navbar-light fixed-top pt-lg-4" id="navbar1">
  <div class="container-fluid px-3" id="container1">
    <a href="#" class="navbar-brand text-big font-weight-bolder line-height-1 text-expanded py-3">FINMATES</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#landing-navbar-collapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="landing-navbar-collapse">
      <div class="navbar-nav align-items-lg-center ml-lg-4">
        <a class="anchor-link nav-item nav-link" href="#features">Features</a>
        <a class="anchor-link nav-item nav-link" href="#screenshots">Community</a>
        <a class="anchor-link nav-item nav-link" href="#pricing">Pricing</a>
        <a class="anchor-link nav-item nav-link" href="#subscribe">Subscribe</a>
      </div>
      <div class="navbar-nav align-items-lg-center ml-auto">
        <div class="nav-item py-2 py-lg-0 ml-lg-4">
          <a href="#" class="btn btn-default rounded-pill">Sign In</a>
        </div>
        <div class="nav-item py-2 py-lg-0 ml-lg-2">
          <a href="#" class="btn btn-primary rounded-pill">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</nav>
&lt;!&ndash; / Navbar &ndash;&gt;
-->
