<h4 class="font-weight-bold py-3 mb-4">
  Account settings
</h4>

<div class="card overflow-hidden">
  <div class="row no-gutters row-bordered row-border-light">
    <div class="col-md-3 pt-0">
      <div class="list-group list-group-flush account-settings-links">
        <button (click)="curTab = 'general'" [ngClass]="{active: curTab === 'general'}"
                class="list-group-item list-group-item-action"
                type="button">General
        </button>
        <button (click)="curTab = 'password'" [ngClass]="{active: curTab === 'password'}"
                class="list-group-item list-group-item-action"
                type="button">Change password
        </button>
        <button (click)="curTab = 'info'" [ngClass]="{active: curTab === 'info'}"
                class="list-group-item list-group-item-action"
                type="button">Info
        </button>
        <button (click)="curTab = 'links'" [ngClass]="{active: curTab === 'links'}"
                class="list-group-item list-group-item-action"
                type="button">Social links
        </button>
        <button (click)="curTab = 'connections'" [ngClass]="{active: curTab === 'connections'}"
                class="list-group-item list-group-item-action" type="button">Connections
        </button>
        <button (click)="curTab = 'notifications'" [ngClass]="{active: curTab === 'notifications'}"
                class="list-group-item list-group-item-action" type="button">Notifications
        </button>
      </div>
    </div>
    <div class="col-md-9" *ngIf="curTab === 'general'">

      <div class="card-body media align-items-center">
        <img [src]="'assets/img/avatars/' + accountData.avatar" alt="" class="d-block ui-w-80">
        <div class="media-body ml-4">
          <button type="button" class="btn btn-outline-primary">Upload new photo</button> &nbsp;
          <button type="button" class="btn btn-default md-btn-flat">Reset</button>
          <div class="text-light small mt-1">Allowed JPG, GIF or PNG. Max size of 800K</div>
        </div>
      </div>
      <hr class="border-light m-0">


      <form #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" class='form-style-1' id="user-form">
        <div class="card-body">
          <div class="form-group">
            <label class="form-label">Username</label>
            <input #username="ngModel" [(ngModel)]="model.username" class="form-control mb-1" name="username"
                   type="text">
          </div>
          <div class="form-group">
            <label class="form-label">First Name</label>
            <input #firstName="ngModel" [(ngModel)]="model.firstName" class="form-control" name="firstName" type="text">
          </div>
          <div class="form-group">
            <label class="form-label">Last Name</label>
            <input #lastName="ngModel" [(ngModel)]="model.lastName" class="form-control" name="lastName" type="text">
          </div>
          <div class="form-group">
            <label class="form-label">E-mail</label>
            <input #email="ngModel" [(ngModel)]="model.email" class="form-control mb-1" name="email" type="text">
            <div *ngIf="true" class="alert alert-warning mt-3">
              Your email is not confirmed. Please check your inbox.<br>
              <a href="javascript:void(0)">Resend confirmation</a>
            </div>
          </div>
          <div class="form-group">
            <label class="form-label">Company</label>
            <input class="form-control" type="text" value="Company Ltd.">
          </div>
        </div>
        <button [disabled]="!(f.form.valid && f.form.dirty)" class="btn btn-primary" form='user-form' type="submit">Save
          changes
        </button>&nbsp;
      </form>


    </div>
    <div class="col-md-9" *ngIf="curTab === 'password'">
      <div class="card-body pb-2">

        <div class="form-group">
          <label class="form-label">Current password</label>
          <input type="password" class="form-control">
        </div>

        <div class="form-group">
          <label class="form-label">New password</label>
          <input type="password" class="form-control">
        </div>

        <div class="form-group">
          <label class="form-label">Repeat new password</label>
          <input type="password" class="form-control">
        </div>

      </div>
    </div>
    <div class="col-md-9" *ngIf="curTab === 'info'">
      <div class="card-body pb-2">

        <div class="form-group">
          <label class="form-label">Bio</label>
          <textarea [(ngModel)]="accountData.info.bio" class="form-control" rows="5"></textarea>
        </div>
        <div class="form-group">
          <label class="form-label">Birthday</label>
          <input [(ngModel)]="accountData.info.birthday" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label class="form-label">Country</label>
          <select class="custom-select" [(ngModel)]="accountData.info.country">
            <option *ngFor="let country of ['USA', 'Canada', 'UK', 'Germany', 'France']"
                    [value]="country">{{country}}</option>
          </select>
        </div>
        <div class="form-group">
          <label class="form-label">Languages</label>
          <ng-select [(ngModel)]="accountData.info.languages" [items]="languages" [multiple]="true" bindLabel="label"
                     bindValue="value"></ng-select>
        </div>

      </div>
      <hr class="border-light m-0">
      <div class="card-body pb-2">

        <h6 class="mb-4">Contacts</h6>
        <div class="form-group">
          <label class="form-label">Phone</label>
          <input [(ngModel)]="accountData.info.phone" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label class="form-label">Website</label>
          <input [(ngModel)]="accountData.info.website" type="text" class="form-control">
        </div>

      </div>
      <hr class="border-light m-0">
      <div class="card-body pb-2">

        <h6 class="mb-4">Interests</h6>
        <div class="form-group">
          <label class="form-label">Favorite music</label>
          <tag-input [(ngModel)]="accountData.info.music"></tag-input>
        </div>
        <div class="form-group">
          <label class="form-label">Favorite movies</label>
          <tag-input [(ngModel)]="accountData.info.movies"></tag-input>
        </div>

      </div>
    </div>
    <div class="col-md-9" *ngIf="curTab === 'links'">
      <div class="card-body pb-2">

        <div class="form-group">
          <label class="form-label">Twitter</label>
          <input [(ngModel)]="accountData.info.twitter" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label class="form-label">Facebook</label>
          <input [(ngModel)]="accountData.info.facebook" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label class="form-label">Google+</label>
          <input [(ngModel)]="accountData.info.google" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label class="form-label">LinkedIn</label>
          <input [(ngModel)]="accountData.info.linkedin" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label class="form-label">Instagram</label>
          <input [(ngModel)]="accountData.info.instagram" type="text" class="form-control">
        </div>

      </div>
    </div>
    <div class="col-md-9" *ngIf="curTab === 'connections'">
      <div class="card-body">
        <button type="button" class="btn btn-twitter">Connect to <strong>Twitter</strong></button>
      </div>
      <hr class="border-light m-0">
      <div class="card-body">
        <h5 class="mb-2">
          <a href="javascript:void(0)" class="float-right text-muted text-tiny"><i class="ion ion-md-close"></i> Remove</a>
          <i class="ion ion-logo-google text-google"></i>
          You are connected to Google:
        </h5>
        nmaxwell@mail.com
      </div>
      <hr class="border-light m-0">
      <div class="card-body">
        <button type="button" class="btn btn-facebook">Connect to <strong>Facebook</strong></button>
      </div>
      <hr class="border-light m-0">
      <div class="card-body">
        <button type="button" class="btn btn-instagram">Connect to <strong>Instagram</strong></button>
      </div>
    </div>
    <div class="col-md-9" *ngIf="curTab === 'notifications'">
      <div class="card-body pb-2">

        <h6 class="mb-4">Activity</h6>

        <div class="form-group">
          <label class="switcher">
            <input type="checkbox" class="switcher-input" [(ngModel)]="accountData.notifications.comments">
            <span class="switcher-indicator">
              <span class="switcher-yes"></span>
              <span class="switcher-no"></span>
            </span>
            <span class="switcher-label">Email me when someone comments on my article</span>
          </label>
        </div>
        <div class="form-group">
          <label class="switcher">
            <input type="checkbox" class="switcher-input" [(ngModel)]="accountData.notifications.forum">
            <span class="switcher-indicator">
              <span class="switcher-yes"></span>
              <span class="switcher-no"></span>
            </span>
            <span class="switcher-label">Email me when someone answers on my forum thread</span>
          </label>
        </div>
        <div class="form-group">
          <label class="switcher">
            <input type="checkbox" class="switcher-input" [(ngModel)]="accountData.notifications.followings">
            <span class="switcher-indicator">
              <span class="switcher-yes"></span>
              <span class="switcher-no"></span>
            </span>
            <span class="switcher-label">Email me when someone follows me</span>
          </label>
        </div>
      </div>
      <hr class="border-light m-0">
      <div class="card-body pb-2">

        <h6 class="mb-4">Application</h6>

        <div class="form-group">
          <label class="switcher">
            <input type="checkbox" class="switcher-input" [(ngModel)]="accountData.notifications.news">
            <span class="switcher-indicator">
              <span class="switcher-yes"></span>
              <span class="switcher-no"></span>
            </span>
            <span class="switcher-label">News and announcements</span>
          </label>
        </div>
        <div class="form-group">
          <label class="switcher">
            <input type="checkbox" class="switcher-input" [(ngModel)]="accountData.notifications.products">
            <span class="switcher-indicator">
              <span class="switcher-yes"></span>
              <span class="switcher-no"></span>
            </span>
            <span class="switcher-label">Weekly product updates</span>
          </label>
        </div>
        <div class="form-group">
          <label class="switcher">
            <input type="checkbox" class="switcher-input" [(ngModel)]="accountData.notifications.blog">
            <span class="switcher-indicator">
              <span class="switcher-yes"></span>
              <span class="switcher-no"></span>
            </span>
            <span class="switcher-label">Weekly blog digest</span>
          </label>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="text-right mt-3">
  <button class="btn btn-primary" form='user-form' type="submit">Save changes</button>&nbsp;
  <button (click)="showToastr();" class="btn btn-default" type="button">Cancel</button>
</div>
