<!-- Contact form -->
<div class="theme-bg-white clearfix d-flex flex-column min-vh-100">
  <hr class="m-0">

  <div class="portfolio-block container px-3 py-5 container-fluid flex-fill">
    <h2 class="font-secondary text-center font-weight-semibold m-0">GET IN TOUCH</h2>

    <form class="portfolio-block-padding-t col-lg-8 px-0 mx-auto">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="small font-weight-semibold">YOUR NAME</label>
          <input class="portfolio-form-control form-control form-control-lg rounded-0" type="text">
        </div>
        <div class="form-group col-md-6">
          <label class="small font-weight-semibold">E-MAIL</label>
          <input class="portfolio-form-control form-control form-control-lg rounded-0" type="email">
        </div>
      </div>
      <div class="form-group">
        <label class="small font-weight-semibold">MESSAGE</label>
        <textarea class="portfolio-form-control form-control form-control-lg rounded-0" rows="6"></textarea>
      </div>
      <button class="btn btn-primary btn-lg rounded-0 font-weight-semibold" type="button">SEND A MESSAGE</button>
    </form>

  </div>

</div>
<!-- / Contact form -->
