<nav class="footer bg-white pt-2">
  <div class="container pt-4">
    <div class="row">

      <div class="col-lg-3 pr-lg-4 pb-4">
        <a class="footer-text d-block text-large font-weight-bolder mb-3" href="#">Finmates</a>
        <p>
          Community for traders. Share your trading strategies in real time.
        </p>
        <a class="text-twitter" href="#">
          <i class="ion ion-logo-twitter"></i>
        </a>
        &nbsp; &nbsp;
        <a class="text-facebook" href="#">
          <i class="ion ion-logo-facebook"></i>
        </a>
        &nbsp; &nbsp;
        <a class="text-instagram" href="#">
          <i class="ion ion-logo-instagram"></i>
        </a>
      </div>

      <div class="col">
        <div class="row">
          <div class="col pb-4">
            <div class="footer-text small font-weight-bold mb-3">ABOUT US</div>
            <a class="footer-link d-block pb-2" href="#">About</a>
            <a class="footer-link d-block pb-2" href="#">Our Story</a>
            <a class="footer-link d-block pb-2" href="#">Shipping</a>
            <a class="footer-link d-block pb-2" href="#">Careers</a>
          </div>
          <div class="col pb-4">
            <div class="footer-text small font-weight-bold mb-3">CATEGORY</div>
            <a class="footer-link d-block pb-2" href="#">Woman</a>
            <a class="footer-link d-block pb-2" href="#">Man</a>
            <a class="footer-link d-block pb-2" href="#">Kids</a>
            <a class="footer-link d-block pb-2" href="#">Other</a>
          </div>
          <div class="col pb-4">
            <div class="footer-text small font-weight-bold mb-3">SUPPORT</div>
            <a class="footer-link d-block pb-2" href="#">FAQ</a>
            <a class="footer-link d-block pb-2" href="#">Support</a>
            <a class="footer-link d-block pb-2" href="#">Consultant</a>
          </div>
          <div class="col pb-4">
            <div class="footer-text small font-weight-bold mb-3">PARTNERS</div>
            <a class="footer-link d-block pb-2" href="#">Wholesale</a>
            <a class="footer-link d-block pb-2" href="#">Office solutions</a>
            <a class="footer-link d-block pb-2" href="#">Press Resource</a>
          </div>
          <div class="col pb-4">
            <div class="footer-text small font-weight-bold mb-3">ACCOUNT</div>
            <a class="footer-link d-block pb-2" href="/login">Log In</a>
            <a class="footer-link d-block pb-2" href="/register">Create Account</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="m-0">
  <div class="container py-2">
    <div>© 2018. All rights reserved</div>
  </div>
</nav>
