<section (scroll)="onWindowScroll($event);" class="web_homePage">

  <!-- Header -->
  <div class="jumbotron ui-hero ui-mh-100vh ui-bg-cover"
       style="background-image: url('assets/img/pages/home/landing-1-bg.png');">
    <div class="container-fluid pr-lg-5 pl-xl-5">
      <div class="row no-gutters justify-content-center w-100 pt-3">

        <div class="col-lg-7 col-xl-6 text-lg-left text-center my-5 mr-xl-5">
          <h1 class="display-3 font-secondary text-dark font-weight-semibold mb-4">
            Everything you need to reach awesomeness
          </h1>
          <p class="lead text-muted pb-3">
            Lorem ipsum dolor sit amet, ius virtute suscipit te. Ius prima euismod consequat eu, cu quo alii scriptorem.
            Oratio aperiam per et, per euismod nominati forensibus cu.
          </p>
          <button class="landing-btn btn btn-lg rounded-pill btn-primary mt-2" type="button">
            <span class="ion ion-logo-apple"></span>&nbsp; Download Now
          </button>
        </div>

        <div class="col-lg-5 text-center pl-lg-5 pl-xl-2 my-5">
          <img alt class="w-100" src="assets/img/pages/home/landing-1-img.png" style="max-width: 550px">
        </div>

      </div>
    </div>
  </div>
  <!-- / Header -->

</section>
