<section (scroll)="onWindowScroll($event);" class="web_homePage">

  <!-- Header -->
  <div class="jumbotron ui-hero ui-mh-100vh ui-bg-cover"
       style="background-image: url('assets/img/pages/home/landing-1-bg.png');">
    <div class="container-fluid pr-lg-5 pl-xl-5">
      <div class="row no-gutters justify-content-center w-100 pt-3">

        <div class="col-lg-7 col-xl-6 text-lg-left text-center my-5 mr-xl-5">
          <h1 class="display-3 font-secondary text-dark font-weight-semibold mb-4">
            Everything you need to reach financial awesomeness
          </h1>
          <p class="lead text-muted pb-3">
            We a a conglomerate of traders focused on social desicion making in real time...
          </p>
          <button class="landing-btn btn btn-lg rounded-pill btn-primary mt-2" type="button">
            <!--<span class="ion ion-logo-apple"></span>&nbsp;--> Join our community
          </button>
        </div>

        <div class="col-lg-5 text-center pl-lg-5 pl-xl-2 my-5">
          <img alt class="w-100" src="assets/img/pages/home/landing-1-img.png" style="max-width: 550px">
        </div>

      </div>
    </div>
  </div>
  <!-- / Header -->


  <div class="theme-bg-white">

    <!-- Block -->
    <div class="landing-block pb-5">
      <div class="container px-3">

        <div class="col-md-10 col-lg-8 col-xl-7 text-center p-0 mx-auto">
          <div class="display-3 text-primary mb-4">
            <i class="lnr lnr-rocket"></i>
          </div>
          <h1 class="display-4 font-secondary font-weight-semibold mb-5">
            Ultimate Tool for Professionals
          </h1>
          <div class="text-muted">
            Lorem ipsum dolor sit amet, ad eam consul vituperata. Cum assum inimicus an, his ne liber aeterno debitis.
            Te his iudico tollit efficiendi. Eu harum volumus pri, oporteat probatus disputationi id his. Mei in vidit
            mollis mediocrem, cum ad suas democritum,
            ea eos e ligendi nominati volutpat.
          </div>
        </div>

      </div>
    </div>
    <!-- / Block -->

    <div class="landing-separator-stripes my-4"></div>


  </div>

  <!-- Block -->
  <div class="landing-block" id="features">
    <div class="container px-3">

      <div class="col-md-10 col-lg-8 col-xl-7 text-center p-0 mx-auto">
        <div class="text-lighter text-tiny font-weight-bold mb-3">FEATURES</div>
        <h1 class="display-4 font-secondary font-weight-semibold mb-4">
          Everything That You Need in One App
        </h1>
        <div class="lead text-muted mb-5">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed interdum lorem, non hendrerit lectus.
          Suspendisse ultricies lobortis vulputate.
        </div>
      </div>

      <hr class="landing-separator border-light mx-auto">

      <div class="row text-center">
        <div class="col-md-4 mt-5">
          <div class="display-4 text-primary mx-auto mb-4">
            <span class="lnr lnr-star"></span>
          </div>
          <h5>Dapibus ac facilisis in</h5>
          <div class="text-muted small">
            Lorem ipsum dolor sit amet, ius virtute suscipit te. Ius prima euismod consequat eu, cu quo alii scriptorem
          </div>
        </div>
        <div class="col-md-4 mt-5">
          <div class="display-4 text-primary mx-auto mb-4">
            <span class="lnr lnr-picture"></span>
          </div>
          <h5>Cras justo odio</h5>
          <div class="text-muted small">
            Etiam vivendo eu sea, purto ponderum mediocritatem at pro. Ex tantas invenire dissentiunt mea.
          </div>
        </div>
        <div class="col-md-4 mt-5">
          <div class="display-4 text-primary mx-auto mb-4">
            <span class="lnr lnr-calendar-full"></span>
          </div>
          <h5>Porta ac consectetur ac</h5>
          <div class="text-muted small">
            Iuvaret deleniti vulputate nec ne, id vix lucilius legendos deseruisse, harum honestatis cum te.
          </div>
        </div>
        <div class="col-md-4 mt-5">
          <div class="display-4 text-primary mx-auto mb-4">
            <span class="lnr lnr-camera"></span>
          </div>
          <h5>Nullam lobortis</h5>
          <div class="text-muted small">
            Praesent massa quam, luctus et efficitur congue, aliquam quis quam. In tellus quam, ornare et consectetur
            ut, ullamcorper vitae nunc.
          </div>
        </div>
        <div class="col-md-4 mt-5">
          <div class="display-4 text-primary mx-auto mb-4">
            <span class="lnr lnr-pie-chart"></span>
          </div>
          <h5>Quisque dictum magna</h5>
          <div class="text-muted small">
            Curabitur rutrum eleifend urna, sit amet iaculis metus consequat at. Pellentesque id accumsan leo.
          </div>
        </div>
        <div class="col-md-4 mt-5">
          <div class="display-4 text-primary mx-auto mb-4">
            <span class="lnr lnr-layers"></span>
          </div>
          <h5>Suspendisse facilisis laoreet</h5>
          <div class="text-muted small">
            Curabitur tristique in elit in fermentum. Sed pellentesque ullamcorper risus pellentesque finibus.
          </div>
        </div>
      </div>

      <div class="text-center mt-5">
        <button class="landing-btn btn btn-primary btn-lg" type="button">LEARN MORE</button>
      </div>

    </div>
  </div>
  <!-- / Block -->


  <!-- Block -->
  <div class="landing-block bg-lighter overflow-hidden">
    <div class="container">
      <div class="row justify-content-between align-items-center">

        <div class="col-lg-5 col-xl-5">
          <div class="ui-presentation-right ui-window float-right rounded">
            <div class="window-content">
              <img alt src="./assets/img/pages/home/app.png">
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-xl-5 text-lg-left text-center mx-auto mt-5 mt-lg-0">
          <h5 class="mb-2">Vim ut tation philosophia</h5>
          <div class="text-muted small">
            Vim ut tation philosophia. Qui et modo abhorreant, populo timeam disputando ut vel.
          </div>

          <h5 class="mt-5 mb-2">Qui et modo abhorreant</h5>
          <div class="text-muted small">
            Cu soleat possit sit. Vocent iisque omnesque eos id. Id sed natum debet graeco, pro te possim scripta
            vituperata.
          </div>

          <h5 class="mt-5 mb-2">Ad vim duis aperiri intellegat</h5>
          <div class="text-muted small">
            Pro rebum nominavi an. His et enim justo dicunt. Agam mnesarchum concludaturque per ea, sea an dicam dolores
            repudiare.
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- / Block -->


</section>
